<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<style>


  .body-n {
    position: relative;
    height: 100%;
  }

  .body-n {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<!-- Swiper -->
<div class="body-n">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div>
          <div>
            <img src="{{ 'image.png' | asset_img_url }}" width="150px">
          </div>
          <div>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aliquam,
              sequi cumque saepe cum officiis fugiat neque quia nisi cupiditate nulla. 
                                          Earum enim ipsum veniam, hic at facilis commodi aperiam.
            </p>
          </div>
          <div>
            <p>
              <b>Nilson Uzcátegui</b>
            </p>
          </div>
        </div>
      </div>


      <div class="swiper-slide">
        <div>
          <div>
            <img src="{{ 'image.png' | asset_img_url }}" width="150px">
          </div>
          <div>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aliquam,
              sequi cumque saepe cum officiis fugiat neque quia nisi cupiditate nulla. 
                                          Earum enim ipsum veniam, hic at facilis commodi aperiam.
            </p>
          </div>
          <div>
            <p>
              <b>Nilson Uzcátegui</b>
            </p>
          </div>
        </div>
      </div>


      <div class="swiper-slide">
        <div>
          <div>
            <img src="{{ 'image.png' | asset_img_url }}" width="150px">
          </div>
          <div>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aliquam,
              sequi cumque saepe cum officiis fugiat neque quia nisi cupiditate nulla. 
                                          Earum enim ipsum veniam, hic at facilis commodi aperiam.
            </p>
          </div>
          <div>
            <p>
              <b>Nilson Uzcátegui</b>
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div>
          <div>
            <img src="{{ 'image.png' | asset_img_url }}" width="150px">
          </div>
          <div>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aliquam,
              sequi cumque saepe cum officiis fugiat neque quia nisi cupiditate nulla. 
                                          Earum enim ipsum veniam, hic at facilis commodi aperiam.
            </p>
          </div>
          <div>
            <p>
              <b>Nilson Uzcátegui</b>
            </p>
          </div>
        </div>
      </div>


      <div class="swiper-slide">
        <div>
          <div>
            <img src="{{ 'image.png' | asset_img_url }}" width="150px">
          </div>
          <div>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aliquam,
              sequi cumque saepe cum officiis fugiat neque quia nisi cupiditate nulla. 
                                          Earum enim ipsum veniam, hic at facilis commodi aperiam.
            </p>
          </div>
          <div>
            <p>
              <b>Nilson Uzcátegui</b>
            </p>
          </div>
        </div>
      </div>


      <div class="swiper-slide">
        <div>
          <div>
            <img src="{{ 'image.png' | asset_img_url }}" width="150px">
          </div>
          <div>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aliquam,
              sequi cumque saepe cum officiis fugiat neque quia nisi cupiditate nulla. 
                                          Earum enim ipsum veniam, hic at facilis commodi aperiam.
            </p>
          </div>
          <div>
            <p>
              <b>Nilson Uzcátegui</b>
            </p>
          </div>
        </div>
      </div>


    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    }
  });
</script>
<h2>Seccion custom de nilson</h2>