<style>
  .footer-titulo {
    color: white;
    font-weight: bold;
  }
  .footer-button {
    background-color: #F7D633;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 25px;
  }

  .footer-ul-icon {
    list-style: none;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
  }

  .footer-ul-icon li {
    margin-right: 20px;
  }

  .footer-ul-icon li img {
    width: 35px;
  }

  .contenedor-img {
    display: flex;
    justify-content: space-between;
  }

  .contenedor-img div {
    display: grid;
  }
  .contenedor-img img {
    width: 15em;
  }
</style>

<div style="background-color: #F47D34;">

  <div style="text-align: center;">
    <br>
    <h1 class="footer-titulo">FalaFULL of flavor</h1>
    <button class="footer-button">TRY THE VARIETY PACK</button>
    <br>
    <ul class="footer-ul-icon">
      <li><img src="{{ 'iconface.png' | asset_img_url }}"></li>
      <li><img src="{{ 'iconinsta.png' | asset_img_url }}"></li>
    </ul>
    <br><br>
    <ul class="footer-ul-icon">
      <li>HOME</li>
      <li>OUR STORY</li>
      <li>SHOP</li>
      <li>CONTACT</li>
    </ul>
    <br>
    <p style="color: black;">@2022 TaDah Foods All rigths reserved.</p>
  </div>

  <div class="contenedor-img">
    <div>
      <img src="{{'burrito-izquierdo.png' | asset_img_url}}">
      <img src="{{'burrito-izquierdo.png' | asset_img_url}}">
    </div>
    <div>
      <img src="{{'burrito-derecho.png' | asset_img_url}}">
      <img src="{{'burrito-derecho.png' | asset_img_url}}">
    </div>
  </div>


</div>